/* a{
    display: block;
    width: 200px;
    height: 200px;
    font-size: 100px;
} */

nav{
    border: 2px solid red;
    padding: 30px;
    background-color: wheat;
}
ul{
    text-align: end;
}
li{
    color: white;
    display: inline;
    margin: 20px;
    font-size: 40px;
    border: 2px solid black;
    background-color: seagreen;
}
li:hover{
    background-color: cornflowerblue;
}